# Compiled python modules
*.pyc
__pycache__

# Setuptools distribution folder
/dist/
/build/

# Python egg metadata
/*.egg-info

# Pipfiles
Pipfile
Pipfile.lock

# Development
.vscode
simple_aws_tests.py
simple_aws_inventory.py
simple_aws_inventory_dev.py
test.csv
