# Compiled python modules
*.pyc
__pycache__

# Setuptools distribution folder
/dist/
/build/

# Python egg metadata
/*.egg-info

# Test file
simple_aws_tests.py

# Pipfiles
Pipfile
Pipfile.lock